- if @user.username
  %h4{ style: "padding-top: 15px; padding-left: 100px;" }
    = "Hello #{@user.username}"
- else
  = form_for @user, html: { class: 'form-inline', style: "padding-top: 15px;" } do |f|
    .field.form-group
      = f.label :username
      = f.text_field :username, class: 'form-control'
    .actions.form-group{ style: "padding-left: 5px;" }
      = f.submit 'Login', class: 'btn btn-primary'
    .actions.form-group{ style: "padding-left: 5px;" }
      = f.submit 'New User', class: 'btn btn-primary'
