= form_for @restaurant do |f|
  - if @restaurant.errors.any?
    #error_explanation
      %h2= "#{pluralize(@restaurant.errors.count, "error")} prohibited this restaurant from being saved:"
      %ul
        - @restaurant.errors.full_messages.each do |msg|
          %li= msg

  .field.form-group
    = f.label :name
    = f.text_field :name, class: 'form-control'
  - if show_visited
    .field.form-group
      = f.label :last_visited
      = f.date_select :last_visited, class: 'form-control'
  .actions
    = f.submit 'Save', class: 'btn btn-primary'
