%tr
  %td
    = restaurant.name
  %td
    = restaurant.last_visited
  %td
    - avg = restaurant.avg_rating
    = avg.to_i if avg != nil
  %td
    - rating = restaurant.ratings.find_or_initialize_by(user_id: @user.id)
    .user_stars{ 'data-user_rat' => rating.stars, 'data-rat_id' => rating.id }
      = form_for rating do |f|
        = f.hidden_field :restaurant_id, value: restaurant.id
        = f.hidden_field :user_id, value: rating.user_id
        = f.number_field :stars, class: 'rating', 'data-size' => 'xs'
        = f.submit 'Submit', class: 'btn btn-primary btn-success'
  %td
    = render partial: 'log_visit', locals: { restaurant: restaurant }
  %td
    = link_to 'Edit', edit_restaurant_path(restaurant), class: 'btn btn-default'
  %td
    = link_to 'Destroy', restaurant, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'btn btn-danger'
