%h3
  = "Today's Lunch is: #{@recommendation.name}"
%hr
%h4 Restaurants
%table.table
  %thead
    %tr
      %th Name
      %th Last visited
      %th Avg Rating
      %th Your Rating
      %th
      %th
      %th

  %tbody
    - @restaurants.each do |restaurant|
      = render partial: 'restaurant', locals: { restaurant: restaurant }

%br
= link_to 'New Restaurant', new_restaurant_path, class: 'btn btn-default'
