<!DOCTYPE html>
<html>
  <head>
    <title>WhatsForLunch</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="main-container" class="container">
      <%= render "layouts/header" %>
      <%= render "layouts/flash" %>
      <%= yield %>
    </div>
  </body>
</html>
